<form action="" method="post">
        <table border="0" cellspacing="0" cellpadding="0">
                <caption>员工入职申请表</caption>
                <tr>
                    <td><label for="Name">姓名<input type="text" name="Name" id="Name"></label></td>           
                    <td> <label>性别&nbsp<input type="radio" checked="checked" name="Sex" value="true">男&nbsp&nbsp<input type="radio" name="Sex" value="false">女</label></td>
                    <td> <label for="Age">年龄<input type="text" name="Age" id="Age"></label></td>
                    <td rowspan="4"><img src="../../static/img/icon/a.png" ></td>
                </tr>
                <tr>
                        <td><label for="Native">民族<input type="text" name="Native" id="Native"></label></td>          
                        <td> <label>身高<input type="number" name="Height" ></label></td>
                        <td><label for="Weight">体重<input type="number" name="Weight" id="Weight"></label></td>
                       
                </tr>
                <tr>
                        <td colspan="3"><label for="Native"><input type="text" name="Native" id="Native"></label></td>          
                       
                </tr>
                <tr>
                        <td colspan="3"><label for="Native">籍贯<input type="text" name="Native" id="Native"></label></td>          
                       
                </tr>
                
        </table>
</form>
